.footerChild {
    align-self: stretch;
    height: 380px;
    position: relative;
    background-color: var(--grey-white);
    display: none;
}

.aboutUs,
.hobbycue {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 18px;
    display: inline-block;
    z-index: 1;
}

.hobbycue {
    font-weight: 700;
    min-width: 75px;
}

.aboutUs {
    text-decoration: none;
    color: inherit;
    min-width: 64px;
}

.hobbycueParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-2xs) 0 0;
    gap: var(--gap-base);
}

.howDoI,
.signUp {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 18px;
    display: inline-block;
    min-width: 62px;
    z-index: 1;
}

.signUp {
    min-width: 54px;
    white-space: nowrap;
}

.howDoIParent {
    width: 106px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-base);
}

.listings,
.quickLinks {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 18px;
    display: inline-block;
    z-index: 1;
}

.quickLinks {
    font-weight: 700;
    min-width: 83px;
}

.listings {
    min-width: 53px;
}

.quickLinksParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.socialMedia {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 18px;
    font-weight: 700;
    display: inline-block;
    min-width: 94px;
    z-index: 1;
}

.frameChild,
.frameChild1,
.frameChild2,
.frameChild3,
.frameChild4,
.frameInner,
.frameItem,
.groupIcon {
    height: 24px;
    width: 24px;
    position: relative;
    min-height: 24px;
    z-index: 1;
}

.frameContainer {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.frameGroup,
.socialMediaParent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.socialMediaParent {
    width: 360px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.frameGroup {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.ourServices {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 18px;
    display: inline-block;
    min-width: 89px;
    z-index: 1;
}

.workWithUs {
    min-width: 90px;
}

.contactUs,
.faq,
.workWithUs {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 18px;
    display: inline-block;
    z-index: 1;
}

.faq {
    text-decoration: none;
    color: inherit;
    min-width: 28px;
}

.contactUs {
    min-width: 79px;
}

.ourServicesParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}

.addABlog,
.addAListing,
.claimListing,
.otherQueries,
.postAQuery {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 18px;
    display: inline-block;
    min-width: 91px;
    z-index: 1;
}

.addABlog,
.otherQueries,
.postAQuery {
    min-width: 90px;
}

.addABlog,
.otherQueries {
    min-width: 112px;
}

.otherQueries {
    min-width: 98px;
}

.addAListingParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}

.blogPosts,
.community,
.shopStore {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 18px;
    display: inline-block;
    min-width: 73px;
    z-index: 1;
}

.community,
.shopStore {
    min-width: 88px;
}

.community {
    min-width: 85px;
}

.blogPostsParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}

.inviteFriends {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 18px;
    font-weight: 700;
    display: inline-block;
    min-width: 99px;
    z-index: 1;
}

.rectangleDiv {
    align-self: stretch;
    width: 360px;
    position: relative;
    border-radius: var(--br-5xs);
    background-color: var(--grey-white);
    border: 1px solid var(--primary-full);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
}

.emailId {
    position: relative;
    line-height: 16px;
    display: inline-block;
    min-width: 48px;
    z-index: 1;
}

.emailField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xs) 0 0;
}

.frameChild5 {
    height: 40px;
    width: 59px;
    position: relative;
    border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
    background-color: var(--primary-full);
    display: none;
}

.invite {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 16px;
    font-weight: 600;
    display: inline-block;
    min-width: 35px;
    z-index: 2;
}

.rectangleGroup,
.rectangleParent {
    border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
    background-color: var(--primary-full);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xs);
    z-index: 1;
    color: var(--grey-white);
}

.rectangleParent {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--grey-white);
    border: 1px solid var(--primary-full);
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 var(--padding-11xs) 0 var(--padding-sm);
    max-width: 100%;
    gap: var(--gap-xl);
    font-size: var(--font-size-xs);
    color: var(--color-darkgray);
}

.inviteContainer,
.inviteFriendsParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.inviteFriendsParent {
    align-self: stretch;
    gap: var(--gap-base);
}

.inviteContainer {
    width: 360px;
    padding: var(--padding-29xl) 0 0;
    box-sizing: border-box;
}

.frameDiv {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.footerInner,
.frameDiv,
.frameParent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.frameParent {
    width: 1217px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-11xs);
}

.footerInner {
    width: 1421px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
}

.frameChild6 {
    height: 78px;
    width: 1440px;
    position: relative;
    background-color: var(--purple-3);
    display: none;
    max-width: 100%;
}

.purpleCuesPrivate {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 18px;
    font-weight: 500;
    mix-blend-mode: normal;
    z-index: 1;
}

.footer,
.rectangleContainer {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: var(--text-sm-bold-size);
    color: var(--grey-darkest);
    font-family: var(--text-sm-bold);
}

.rectangleContainer {
    background-color: var(--purple-3);
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-11xl) var(--padding-xl) var(--padding-11xl) var(--padding-2xl);
    z-index: 1;
}

.footer {
    background-color: var(--grey-white);
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-41xl) 0 0;
    gap: var(--gap-41xl);
}

@media screen and (max-width: 750px) {

    .frameDiv,
    .frameGroup {
        flex-wrap: wrap;
    }

    .footer {
        gap: var(--gap-11xl);
    }
}

@media screen and (max-width: 450px) {
    .frameContainer {
        flex-wrap: wrap;
        justify-content: center;
    }

    .rectangleParent {
        flex-wrap: wrap;
    }

    .footer {
        padding-top: var(--padding-20xl);
        box-sizing: border-box;
    }
}