.homeScreenParent,
.landingPageSignIn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.homeScreenParent {
    align-self: stretch;
    max-width: 100%;
}

.landingPageSignIn {
    width: 100%;
    position: relative;
    background-color: var(--grey-white);
    overflow: hidden;
    line-height: normal;
    letter-spacing: normal;
}